In [15]:
def name(fname , mname = "singh" , lname="rajput"):
    print("hello",fname , mname, lname)
 
name (fname="sonu",lname='shekhawat')

hello sonu singh shekhawat

In [30]:
def sum(a,b,c):
  print(a+b+c)
sum(4,5,3)

12

In [4]:
def sum(a=4,b=7,c=9):   # it is just a default value
   print(a+b+c)
sum(5,5,5)

15

In [46]:
lst=["ram","sita","hanuman","lakshman"]
print(type(lst))
print(lst[-1:-3:-1])

<class 'list'>
['lakshman', 'hanuman']

In [5]:
lst=[12,34,13,56,28]
print(lst)
lst.append(25)
print(lst)
print(lst.sort())     # ?
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)
lst.index(25)    # it type the index no of  num 25

[12, 34, 13, 56, 28]
[12, 34, 13, 56, 28, 25]
None
[12, 13, 25, 28, 34, 56]
[56, 34, 28, 25, 13, 12]

3

In [8]:
x=[34,45,76,26,84,"hurre",15,29,40]
m=x.copy()
print("type of m is : " ,type(m))
print("firstly M is : ",m)
m.insert(3,100)
print("after insert 3,100 ",m)
y=[234,456,678,89,234,900]
m.extend(y)     #isse last m judege or m bhi change ho jayega.
print(m)
k=y+x      #isse x or y m change nhi hoga or jo list pahle likhi h uske eliment pahle ayege
print(k)
x[0]="bum"      #replace krne k lie
print(x)

type of m is :  <class 'list'>
firstly M is :  [34, 45, 76, 26, 84, 'hurre', 15, 29, 40]
after insert 3,100  [34, 45, 76, 100, 26, 84, 'hurre', 15, 29, 40]
[34, 45, 76, 100, 26, 84, 'hurre', 15, 29, 40, 234, 456, 678, 89, 234, 900]
[234, 456, 678, 89, 234, 900, 34, 45, 76, 26, 84, 'hurre', 15, 29, 40]
['bum', 45, 76, 26, 84, 'hurre', 15, 29, 40]

In [88]:
tp=(23,45,67,"ullu",943,)
print(tp)
print(tp[0])
if 67 in tp:
    print("yes 67 is present in tp")
tp2=tp[1:4]
print(tp2)

(23, 45, 67, 'ullu', 943)
23
yes 67 is present in tp
(45, 67, 'ullu')

In [90]:
x=(45)
print(type(x))
y=(45,)
print(type(y))

<class 'int'>
<class 'tuple'>

In [44]:
import time 
t = time.strftime("%H:%M:%S")
print(t)

15:23:59

In [45]:
h=int(time.strftime("%H"))
print(h)
if h>0 and h<12:
    print("good morning")
elif h>=12 and h<19:
    print("good after noon")
else :
    print("good night")

15
good after noon

In [9]:
%%time
#ye kisi process ko pura krane m cpu dvara lia gya time batata h.

CPU times: total: 0 ns
Wall time: 0 ns

In [ ]:

a=int(input())
# while(a):
#    if a>=1 and a<=4:
    
#     if a==1:
#          print("wrong")
#          break
#     elif a==2:
#          print("wrong")
#          break   
#     elif a==3:
#          print("wrong")
#          break   
#     else:
#          print("right")
#          break   
#    else:
#       a=int(input())

In [14]:
def que():
 a = int(input("Enter Your Number :"))

 while(a):
   if a>=1 and a<=4:
    
    if a==1:
         print("wrong")
         rslt=1    
         break
    elif a==2:
         print("wrong")
         break   
    elif a==3:
         print("wrong")
         break   
    else:
         print("right")
         break   
   else:
      a=int(input("Enter Your again input :"))

print("question num.: 1")
que()

question num.: 1
Enter Your Number :6
Enter Your again input :8
Enter Your again input :8
Enter Your again input :12
Enter Your again input :21
Enter Your again input :2
wrong

In [ ]:
                                   f strings

In [13]:
name= "vishvajeet"
country= "india"
print("hello myy name is {name} and i am form {country}")
print(f"hello myy name is {name} and i am form {country}")
print(f"hello myy name is {{name}} and i am form {{country}}")

hello myy name is {name} and i am form {country}
hello myy name is vishvajeet and i am form india
hello myy name is {name} and i am form {country}

In [15]:
# bill = 1234
print(f"you have to pay {bill}")

you have to pay 1234

In [21]:
bill=45
print(f"you have to pay {bill}")
bill =40*2+25
print(f"you have to pay {bill}")
a=55
b=60
print(f"you have to pay {a*b}")

you have to pay 45
you have to pay 105
you have to pay 3300

In [16]:
#             doc string

In [25]:
def exampl(a):
    '''gajr lelo muli le lo'''
    print (a**2)
exampl(5)
print(exampl.__doc__)

25
gajr lelo muli le lo

In [26]:
>>> import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [20]:
def factorial(n):
 if (n==0 or n==1):
    return 1
 else:
    return n*factorial(n-1)
n=int(input())
print(factorial(n))

5
120

In [ ]:
                                        * set*

In [10]:
s=set()
print(type(s))
r={}
print(type(r))

<class 'set'>
<class 'dict'>

In [16]:
w={45,75,"jebvr",76,True}
print(type(w))

<class 'set'>

In [21]:
s={2,3,2,3,4,2,5,3,7,5}
print(s)
print(type(s))
#SET M {} use hota h or *isme koi b content repet nhi hota*

{2, 3, 4, 5, 7}
<class 'set'>

In [24]:
s1={45,56,67,78,"kuru",34,45,"kuru","kure","gta",67}
print(type(s1))
s2={45,45,34,20,30,"kuru","kuru","gta","city"}
print(type(s2))
x=(s1.union(s2))
print("union of s1 and s2 :",x)
print(s2.intersection(s1))

<class 'set'>
<class 'set'>
union of s1 and s2 : {'city', 34, 67, 'kure', 'gta', 45, 78, 20, 56, 30, 'kuru'}
{34, 'gta', 45, 'kuru'}

In [23]:
s1={45,56,67,78,"kuru",34,45,"kuru","kure","gta",67}

s2={45,45,34,20,30,"kuru","kuru","gta","city"}

s1.intersection_update(s2)
print(s1)
'''union me dono set ke union vale eliment tisre teprary set m ate h mtlb koi 
change nhi hota set m.
pr ().union_update() me phle likhe hue set m dusre vale set k eliment aa
jate h mtlb set 1 change ho jata h 
*islie hi set b mutable h*
same chij intersection or ().intersection_upate() m hoti h'''
y= s1.symmetric_difference(s2) #isme dono k intersection k alava dusre content ae h
print(y)

{34, 'gta', 45, 'kuru'}
{'city', 20, 30}

In [14]:
s1={45,56,67,78,"kuru",34,45,"kuru","kure","gta",67}
s2={45,45,34,20,30,"kuru","kuru","gta","city"}
s3={45,56,"kuru",34,"gta"}
print(s1.issubset(s2))
print(s3.issubset(s1))
print(s1.issuperset(s3))
s3.isdisjoint(s2)
s3.add("kure")
print(s3)
s3.remove(34)
print(s3)

False
True
True
{34, 'kure', 56, 'gta', 'kuru', 45}
{'kure', 56, 'gta', 'kuru', 45}

In [40]:
x=(4)
print("type of (4) : ",type(x))
x=("tuku")
print("type of (4) : ",type(x))
t=()
print("type of () : ",type(t))
u=(4,)
print("type of (4,) : ",type(u))
y=[4]
print("type of [4] : ",type(y))
z={}
print("type of {} : ",type(z))
v={4}
print("type of {4} : ",type(v))

type of (4) :  <class 'int'>
type of (4) :  <class 'str'>
type of () :  <class 'tuple'>
type of (4,) :  <class 'tuple'>
type of [4] :  <class 'list'>
type of {} :  <class 'dict'>
type of {4} :  <class 'set'>

In [33]:
dic={'name':'vjeet', 'age':25,'city':'jaipur'}
print("type of dic : ",type(dic)) 
print("call value of \" name \" key : ",dic['name'])     #key exist nhi kre to ye error dega
print("call value of \" name \" key by \"get \" mathod : ",dic.get('name')) #key exist na kre to ye error nhi dega
print("print keys of dic      : " ,dic.keys())
print("print all values of dic :            " ,dic.values())
for key in dic.keys():
    print(dic[key])
for key,value in dic.items():
    print(f"for the key {key} the value is {value}")

type of dic :  <class 'dict'>
call value of " name " key :  vjeet
call value of " name " key by "get " mathod :  vjeet
print keys of dic      :  dict_keys(['name', 'age', 'city'])
print all values of dic :             dict_values(['vjeet', 25, 'jaipur'])
vjeet
25
jaipur
for the key name the value is vjeet
for the key age the value is 25
for the key city the value is jaipur

In [48]:
ep1= {111:45, 112:43, 113:42, 114:34}
ep2= {115:35, 116:48,117:39}
ep1.update(ep2)
print(ep1)
ep1.pop(113)
print(ep1)
ep1.popitem()  #isse last term delet ho jati h

{111: 45, 112: 43, 113: 42, 114: 34, 115: 35, 116: 48, 117: 39}
{111: 45, 112: 43, 114: 34, 115: 35, 116: 48, 117: 39}

(117, 39)

#                            error heandling  
##                             try:except:

In [1]:
try:
    num=int(input("enter an integer:"))
    a= [6,3]
    print(type(a))
    print(a[num])
except valueError:
    print("numbeer entered is not an integer.")
    
except IndexError:
    print("index Error")

enter an integer:6
<class 'list'>

NameError: name 'valueError' is not defined

In [3]:
question=["what is your favrt game","hockey","cricket","basketball","tenish"]

<class 'list'>

In [12]:
a= int(input("enter a num btw 4 and 9: "))
if (a<4 or a>9):
    raise ValueError("num is not btw 4 and 9")

enter a num btw 4 and 9: 3

ValueError: num is not btw 4 and 9

In [16]:
questions=[
    [
       "what is your favrt game","hockey","cricket","basketball","tenish" 
    ],
    [
        "what is your favrt game","hockey","cricket","basketball","tenish"
    ],
    [
      "what is your favrt game","hockey","cricket","basketball","tenish"   
    ],
    [
        "what is your favrt game","hockey","cricket","basketball","tenish"
    ],
    [
        "what is your favrt game","hockey","cricket","basketball","tenish"
    ],
    [
        "what is your favrt game","hockey","cricket","basketball","tenish"
    ],
    [
        "what is your favrt game","hockey","cricket","basketball","tenish"
    ]
]
levels= [1000,2000,3000,5000,10000,20000,40000,80000,160000]
for i in range(0,len(questions)):
    question=questions[i]
    print(f"question for rs.{levels[i]}")
    print(f"a.{question[1]}              b.{question[2]})
    print(f"c.{question[3]}              d.{question[4]})

<class 'list'>
<class 'list'>

#####