In [1]:
print("haye jeet", 6 ,7)

haye jeet 6 7

In [3]:
a=complex(8,2)
print("a")

a

In [1]:
a=complex(8,2)
print(a)

(8+2j)

In [4]:
print("hello")

hello

In [5]:
x=10
y=20
print(x+y)

30

In [9]:
x=int(input())
y=x**3
print(y)

3
27

In [11]:
x=int(input())
for i in range(x):
    print(i,x)

5
0 5
1 5
2 5
3 5
4 5

In [13]:
print(5/4)
print(5//4)

1.25
1

In [21]:
x=int(input())
y=int(input())
op=input()    #(+,-,*,/) 
if(op =="+"):
    print(x+y)
elif (op =="-"):
    print(x-y)
elif(op =="*"):
    print(x*y)
else:
    print(x/y)

12
9
*
108

In [7]:
a= "v"
b= "jeet"
print(a+b,sep="~")

vjeet

In [35]:
a="1"
b="2"
print(int(a)+int(b))

3

In [36]:
talk= "he said,\"i am not kind\""
print(talk)

he said,"i am not kind"

In [37]:
talk= ' i said,"he feel jelous"'
print(talk)

 i said,"he feel jelous"

In [38]:
pr='''Latest Vacancies Near You. High Paying Jobs For Freshers And Experienced. Apply Now. Search For business apps collaboration workspace system work in united states. Get Job Alert. Part Time Jobs. Appl
y Online For Jobs. Current Job Openings. Fresher Jobs. Search For The Right Jobs.
Jobs In California
·
Jobs In Colorado
·
Jobs In Alabama
·
Jobs In Arizona
·
Jobs In Arkansas
Ad
·
https://www.receptix.com/
▼
English paragraph reading practice - Remote Work From Home.
business g suite project collaboration management system work Jobs In United States. 8,000+ Remote Jobs 722 new, Simple Typing /Online Data Entry/ Remote/ WFH/ Part time Jobs. Work From Jobs Available. Find Jobs. Work From Home. Subscribe for latest Jobs. High Paying Jobs Apply.'''
print( pr)

Latest Vacancies Near You. High Paying Jobs For Freshers And Experienced. Apply Now. Search For business apps collaboration workspace system work in united states. Get Job Alert. Part Time Jobs. Appl
y Online For Jobs. Current Job Openings. Fresher Jobs. Search For The Right Jobs.
Jobs In California
·
Jobs In Colorado
·
Jobs In Alabama
·
Jobs In Arizona
·
Jobs In Arkansas
Ad
·
https://www.receptix.com/
▼
English paragraph reading practice - Remote Work From Home.
business g suite project collaboration management system work Jobs In United States. 8,000+ Remote Jobs 722 new, Simple Typing /Online Data Entry/ Remote/ WFH/ Part time Jobs. Work From Jobs Available. Find Jobs. Work From Home. Subscribe for latest Jobs. High Paying Jobs Apply.

In [45]:
nm='whaT TYPE OF PROBLEM'
print(nm[1])

h

In [50]:
x='o my go turula'
print(x[0:10:2])

om ot

In [53]:
len('home')

4

In [9]:
 a='HelloMyLove'
print(a.upper())   
print(a.lower())
print(a.rstrip("ve"))
print(a.replace("Hello","go"))
print(a.split("o"))

HELLOMYLOVE
hellomylove
HelloMyLo
goMyLove
['Hell', 'MyL', 've']

In [83]:
a='are you MADE aa'
print(a.capitalize())
print(a.center(30))
print(len(a))
print(len(a.center(30)))
print(a.count('a'))
print(a.endswith('aa'))
print(a.endswith('u M',2,9))

Are you made aa
       are you MADE aa
15
30
3
True
True

In [85]:
x= 'he is my boy, he is good in english '
print(x.find("good"))
print(x.find("is"))
print(x.find("hindi"))

20
3
-1

In [10]:
# ISALNUM = is all alphabets or numeric   
# if x contain alphabet or numeric then true  or x contain another sign or space or etc then false
x= 'He is my boy, he is good in english '
print(x.isalnum())

False

In [2]:
x= 'He is my boy he is good in english987 '
print(x.isalnum())

False

                     next day

In [4]:
x= 'He is my boy he is good in english '
y='He is my boy he is good in english 4 $ '
z='He is my boy he is good in english \n '
print(x.isprintable())
print(y.isprintable())
print(z.isprintable())

True
True
False

In [3]:
x='He is my BOY  he is GOOD in english '
print(x.istitle())
print(x.startswith("he"))
print(x.startswith("He"))
print(x.title())
print(x.swapcase())
# swapcase change the uppercase word to lower case and lower case word to upper case

False
False
True
He Is My Boy  He Is Good In English
hE iS mY boy  hE iS good iN eNGLISH

In [ ]:
                             chpt 14 .....

In [4]:
print("enter a num")
x=int(input())
if (x<0):
    print("num is negetive")
else:
    if (x==0):
       print ("num is zero\n")
    elif (x>=1 and x<10): 
       print("num contain one digit ")
    elif (x>=10 and x<100):
       print("num has two digit")
       print("slice")
    elif(x>=100 and x<999):
       print("num contain three digit")
    else:
       print("num contain 4 or more then 4 digit")

enter a num
GBDGFDJ

ValueError: invalid literal for int() with base 10: 'GBDGFDJ'

In [6]:
x= int(input("enter the value of x: "))
match x:
 case 0:
        print("x is zero")
 case 4:
        print("case is 4")
     case _ if x !=90:
        print(x,"is not 90")
     case _ if x !=80:
        print(x,"is not 80")
     case_:
        print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [10]:
 for i in range(50,14,-5):
     print(i)

50
45
40
35
30
25
20
15

In [11]:
x= "raja ram"
for i in x:
    print(i)

r
a
j
a

r
a
m

In [23]:
x= ("siya,ram ,hanuman")
for i in x:
    print(i , end =" + ")
    
type(x)

s + i + y + a + , + r + a + m +   + , + h + a + n + u + m + a + n +

str

In [24]:
x=["siya,ram,hanuman"]
for i in x:
    print(i , end = " + + ")

type(x)

siya,ram,hanuman + +

list

In [2]:
x=["siya,ram,hanuman"]
for   nam in x:
    for i in nam:
        print(i)
        if i=="r":
         print("jai siya ram")

s
i
y
a
,
r
jai siya ram
a
m
,
h
a
n
u
m
a
n

In [7]:
i=0
while (i<5):
    print (i)
    i = i+1

0
1
2
3
4

In [5]:
i= int(input("enter the num: "))
while (i>=20):
        i=int(input("enter the num again:"))
        print(i)

enter the num: 56
enter the num again:34
34
enter the num again:20
20
enter the num again:19
19

In [6]:
i=5
while(i>0):
    print(i)
    i-=1
else :
    print(" i has negetive ")

5
4
3
2
1
 i has negetive

In [6]:
# do while ka emulate
i=0
while True:
    print(i)
    i=i+1
    if (i%100==0):
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
def inv(a,b):
   print(a*b/(a+b))
    
a=4
b=6
inv(a,b) 
 
a=5
b=8
inv(a,b)

2.4
3.076923076923077