# Regular Expression

In [2]:
import re

In [3]:
txt = "The rain in Spain"
x=re.search("he",txt)
if x:
    print(x)
    print("yes  it is exist")
else :
    print("no")

<re.Match object; span=(1, 3), match='he'>
yes  it is exist

In [13]:
#  yaha  " $ " word  sentences ke last letter ko searc krne k lie use hota h
txt = "The rain in Spain"
x=re.search("The$",txt)
if x:
    print("yes  it is exist")
else :
    print("no")

no

In [47]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
    print("yes  it is exist")
else :
    print("no")

no

In [ ]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
    print("yes  it is exist")
else :
    print("no")

# RegEx Functions
## The re module offers a set of functions that allows us to search a string for a match:

## Function    	Description

### findall       = 	Returns a list containing all matches
### search	    =    Returns a Match object if there is a match anywhere in the string
### split	       =    Returns a list where the string has been split at each match
### sub          =    Replaces one or many matches with a string

## The findall() Function
#### The findall() function returns a list containing all matches.

In [52]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [56]:
# findall function return empty index if given letter is not exist in sentence

txt = " america , japan , canada "
x=re.findall('turki',txt)
print(x)

[]

## The Search() function

In [59]:
## use of start with start 
import re
txt = "The rain in Spain"
x = re.search("\s", txt)
## \s  its mean space , it give the location af first space

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [60]:
import re
txt = "The rain in Spain"
x = re.search("r", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 4

In [14]:
## if we search that latter which is not exist in given sentence then it return  => None
txt ="A quick brown fox jump over the lazy dog"
x= re.search('fox',txt)
print(x)

<re.Match object; span=(14, 17), match='fox'>

## The split() Function
### The split() function returns a list where the string has been split at each match:

In [65]:
txt ="A quick brown fox jump over the lazy dog"
x= re.split("\s",txt)
## again here \s  mean space 
print(x)

['A', 'quick', 'brown', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']

In [66]:
txt ="A quick brown fox jump over the lazy dog"
x= re.split(" ",txt)
print(x)

['A', 'quick', 'brown', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']

In [68]:
txt ="A quick brown fox jump  over the lazy dog"
x= re.split("\s\s",txt)
## again here \s  mean space 
print(x)

['A quick brown fox jump', 'over the lazy dog']

In [15]:
txt ="A quick brown fox jump  over the lazy dog"
x= re.split("  ",txt)

print(x)

['A quick brown fox jump', 'over the lazy dog']

In [74]:
# Split the string only at the first occurrence:

txt ="A quick brown fox jump  over the lazy dog"
x = re.split("\s", txt,1 )
print(x)

['A', 'quick brown fox jump  over the lazy dog']

In [75]:
# Split the string only at the second occurrence:

txt ="A quick brown fox jump  over the lazy dog"
x = re.split("\s", txt, 2)
print(x)

['A', 'quick', 'brown fox jump  over the lazy dog']

## The sub() Function
### The sub() function replaces the matches with the text of your choice:

In [79]:
txt ="luck is very importent , one needs luck every day and night "
x=re.sub("l", "f",txt )
print(x)

fuck is very importent , one needs fuck every day and night

## Match Object
### A Match Object is an object containing information about the search and the result.

#### Note: If there is no match, the value None will be returned, instead of the Match Object.

In [80]:
import re

#The search() function returns a Match object:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

#### The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match

In [83]:
## Print the position (start- and end-position) of the first match occurrence.

## The regular expression looks for any words that starts with an upper case "S":

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [85]:
## Print the string passed into the function:

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [90]:
## Print the part of the string where there was a match.

##The regular expression looks for any words that starts with an upper case "S":

import re

txt = "The Rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [92]:
txt = "A Quivk brown Fox jump over the lazy Dog"
x = re.search(r"\bF\w+", txt)
print(x.group())

Fox

In [93]:
txt = "A Quivk brown fox jump over the lazy Dog"
x = re.search(r"\bF\w+", txt)
print(x.group())
## it gie error because here f is not capital

AttributeError: 'NoneType' object has no attribute 'group'

In [95]:
txt = "A Quivk brown Fast Fox jump over the lazy Dog"
x = re.search(r"\bF\w+", txt)
print(x.group())
## here two capital F

Fast

## Metacharacters
### Metacharacters are characters with a special meaning:

[]	A set of characters	"[a-m]"	
\	Signals a special sequence (can also be used to escape special characters)	"\d"	
.	Any character (except newline character)	"he..o"	
^	Starts with	"^hello"	
$	Ends with	"planet$"	
*	Zero or more occurrences	"he.*o"	
+	One or more occurrences	"he.+o"	
?	Zero or one occurrences	"he.?o"	
{}	Exactly the specified number of occurrences	"he.{2}o"	
|	Either or	"falls|stays"	
()	Capture and group

## Special Sequences
### A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:

Character	Description	Example	Try it
\A	Returns a match if the specified characters are at the beginning of the string	"\AThe"	
\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"
r"ain\b"	
\B Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"
r"ain\B"	
\d	Returns a match where the string contains digits (numbers from 
0-9)	"\d"	
\D	Returns a match where the string DOES NOT contain digits	"\D"	
\s	Returns a match where the string contains a white space character	"\s"	
\S	Returns a match where the string DOES NOT contain a white space character	"\S"	
\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	
\W	Returns a match where the string DOES NOT contain any word characters	"\W"	
\Z	Returns a match if the specified characters are at the end of the string	"Spain\Z"

## Sets
### A set is a set of characters inside a pair of square brackets [] with a special meaning:

Set	Description	Try it
[arn]	Returns a match where one of the specified characters (a, r, or n) is present	
[a-n]	Returns a match for any lower case character, alphabetically between a and n	
[^arn]	Returns a match for any character EXCEPT a, r, and n	
[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
[0-9]	Returns a match for any digit between 0 and 9	
[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59	
[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case	
[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [16]:
SELECT name FROM world WHERE population>(SELECT population FROM world where name ="Canada")  and population <(SELECT population  from world WHERE name ="Poland");

SyntaxError: invalid syntax (773403545.py, line 1)